models/pipeline/__pycache__/
models/pipeline/*.pyc
weekly_reports/
weekly_reports/*
venv/
venv/*
__pycache__/
__pycache__/*
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
saved_models/
saved_models/*
data/*.csv
data/*.xlsx
*.ipynb_checkpoints
notebooks/*.ipynb_checkpoints
test_outputs/
*.log
